.content{
    padding-top: 10px
}
.top5-list{
    list-style-type: none;
    margin: 0;
    padding: 0;

    .book-list{
        height: 250px;
        width: 600px;
        float: left;
        margin: 5px 6.75px;

        .thum{
            height: 100%;
            width: 173px;
        }

        .item-info{
            height: 100%;
            width: 427px;
            display: inline-block;
            vertical-align: top;

            p{
                margin:2px 0;
                text-align: left;
                padding-left: 15px;
            }
            
        }
    }
}
