<div class="user">
  <div class="content">
   <form action="http://localhost" method="post">
      <p class="userwrapper">
          <input type="text" placeholder="用户名">
          </p>
          <p class="passwordwrapper">
          <input type="text">
          </p>
          <p class="checkboxwrapper">
            <input id="autologin" type="checkbox">
            <label for="autologin">下次自动登录</label>
          </p>
         <p class="submitwrapper">
           <input type="submit" value="登录">
           <a>忘记密码</a>
         </p>
   </form>

  </div>
</div>
