
.main{
    

    .form{
        width: 380px;
        margin: 0 auto;

        input{
            display: block;
            width: 320px;
            height: 32px;
            margin: 0 auto;
            text-indent: 1em;
        }
    }
}